:root {
    --white: hsl(0, 0%, 100%);
    --black: hsl(240, 67%, 8%);
    --grey-dark: hsl(240, 17%, 26%);
    --grey-light: hsl(240, 6%, 54%);
    --mercury: hsl(194, 48%, 49%);
    --venus: hsl(33, 82%, 61%);
    --earth: hsl(263, 67%, 51%);
    --mars: hsl(10, 63%, 51%);
    --jupiter: hsl(2, 68%, 53%);
    --saturn: hsl(17, 73%, 46%);
    --uranus: hsl(169, 73%, 44%);
    --neptune: hsl(222, 87%, 56%);
    font-size: 100%;
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
}

*, *::before, *::after {
    box-sizing: inherit;
}