:root {
    --white: hsl(0, 0%, 100%);
    --black: hsl(240, 67%, 8%);
    --grey-dark: hsl(240, 17%, 26%);
    --grey-light: hsl(240, 6%, 54%);
    --mercury: hsl(194, 48%, 49%);
    --venus: hsl(33, 82%, 61%);
    --earth: hsl(263, 67%, 51%);
    --mars: hsl(10, 63%, 51%); 
    --jupiter: hsl(2, 68%, 53%);
    --saturn: hsl(17, 73%, 46%);
    --uranus: hsl(169, 73%, 44%);
    --neptune: hsl(222, 87%, 56%);
    font-size: 1rem;
    box-sizing: border-box;
}

body {
    background: var(--black) url("assets/background-stars.svg");
    color: var(--white);
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
    font: normal 400 .6875rem/1.375rem 'Spartan', sans-serif;
}

*, *::before, *::after {
    box-sizing: inherit;
}

h1 {
    font: 500 2.5rem/3.25rem 'Antonio', sans-serif;
    text-transform: uppercase;
}

/* h2 {
    font: 700 .75rem/1.56rem 'Spartan', sans-serif;
    color: var(--white);
    text-transform: uppercase;
    letter-spacing: 2.6;
} */

h3 {
    font: 700 .68rem/1.56rem 'Spartan', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.0625rem;
}

/* Blocks */

/* .header {
} */

.header_row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1.25rem;
    border-bottom: 1px solid var(--grey-dark);
}

.header__title {
    font:  500 1.75rem/2.25rem 'Antonio', sans-serif;
    text-transform: uppercase;
    letter-spacing: -.065625rem;
    place-self: center start;
} 

.header__menu-icon {
    place-self: center end;
    background-color: transparent;
    border: none;
    opacity: 1;
    transition: opacity .4s;   
}

.menu {
    max-width: 87vw;
    margin: 0 auto;    
}

.menu__list {
    margin-left: 0;
    padding-left: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fit, 1fr);
    /* gap: 1.25rem; */
}

.menu__item {
    border-bottom: .0625rem solid var(--grey-dark); 
    list-style: none;    
}

.menu__item:last-child {
    border-bottom: 0;   
}

.menu__item-planet {
    display: inline-block;
    height: 1.25rem;
    width: 1.25rem;
    border-radius: 50%;
    background-color: #fff;
    place-self: center start;
}

.menu__item-link {
    display: grid;
    grid-template-columns: 1.25rem 1fr 1.25rem;
    place-content: center;
    column-gap: 1.25rem;
    padding: 1.25rem 0; 
    margin-left: 0; 
    text-decoration: none;
}

.menu__item-link:hover,
.menu__item-link:focus {
    background: hsla(240, 6%, 54%, .2);
    border-radius: 10px;   
}

.menu__item-text {
    font: 700 .9375rem/1.56rem 'Spartan', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.085rem;
    color: var(--white);
    place-self: center start;
}

.menu__item-carrot {
    place-self: center end;
}
.main-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: .5rem 6.5vw;    
    /* max-width: 87vw; */
    /* padding: 0 1.5rem; */
    /* margin: 0 auto; */
    text-align: center;
    place-content: center space-evenly;
}

.imageWrapper {
    height: 17.5rem;
    width: 100vw;
}

.planet-image {
    min-width: 6.94rem;
    max-width: 16rem
}


.tabs__list {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(5rem, 1fr));
    place-content: center;
    padding-left: 0;
    list-style: none;
    border: 1px solid var(--grey-dark);
    border-style: solid none;
}

.tabs__list-item {
    border-bottom: .25rem solid transparent;    
}

.tabs__list-item:hover,
.tabs__list-item:focus {
    border-bottom: solid var(--grey-dark);
    /* rewrite as JS later */
}

/* .tabs__list-item > [aria-selected="true"] {
    border-bottom: solid var(--mercury);
} */

.tabs__button {
    background: transparent;    
    border: 0 transparent;    
    margin: 0;
    padding: 1rem 0;
    width: 100%;
    height: auto;
}

.tabs__heading {
    font: 700 .5625rem/.625rem 'Spartan', sans-serif;
    color: var(--white);
    text-transform: uppercase;
    letter-spacing: .120625rem;
}

.tabs__item-num {
    display: none;
}

.tabs__panel {
    max-width: 87vw;
    margin: 0 auto;
}

.tabs__source {
    color: var(--grey-light);
}

.tabs__source a {
    color: var(--grey-light);
    font-weight: 700;    
}

.tabs__source a:active,
.tabs__source a:hover,
.tabs__source a:focus {
    color: var(--mercury);
}

/* .tabs__source a:visited {
    color: var(--grey-dark); 
} */

.suppInfo {
    display: grid;
    grid-template-columns: 87vw;
    grid-template-rows: auto;
    gap: .5rem 0;
    place-content: center;
}

.suppInfo__item {    
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    border: 1px solid var(--grey-dark);
    padding: .75rem 1.375rem;
}

.suppInfo__title {
    place-self: center start;
    font: 700 .5rem/1rem 'Spartan', sans-serif;
    text-transform: uppercase;
    letter-spacing: .73;
    color: var(--white);
    opacity: .5;    
}

.suppInfo__copy {
    place-self: center end;
    font:  500 1.25rem/1.625rem 'Antonio', sans-serif;
    text-transform: uppercase;
    letter-spacing: -.75;
    
}

/* Modifiers */

.--hide{
    display: none;
}

.--transition-opacity {
    opacity: .25;
    transition: opacity .4s;
}

.--mercury {
    background-color: #DEF4FC;
}

.--venus {
    background-color: #F7CC7F;
}

.--earth {
    background-color: #545BFE;
}

.--mars {
    background-color: #FF6A45;
}

.--jupiter {
    background-color: #ECAD7A;
}

.--saturn {
    background-color: #FCCB6B;
}

.--uranus {
    background-color: #65F0D5;
}

.--neptune {
    background-color: #497EFA;
}



/* Desktop specific

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.header__title,
.suppInfo__copy {
    font:  500 2.5rem/3.25rem 'Antonio', sans-serif;
    text-transform: uppercase;
    letter-spacing: -1.5;
} 

h3 {
    font: 700 .68rem/1.56rem 'Spartan', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1;
}

*/